.center
{
text-align:center;
}
.group
{
margin-left:10%;
}
.group > p
{
margin-bottom:20px;
padding: 5px;
border:3px ridge black;
width:fit-content;
width:-webkit-fit-content;
width:-moz-fit-content;
}
.user
{
padding-left:10%;
border-left:1px dotted black;
clear:both;
overflow:hidden;
background-color:white;
}
.user p
{
background-color:white;
margin-top:0px;
overflow:hidden;
width:nowrap;
}
.imageprofil
{
float:left;
margin-right:10px;
}
.menutop
{
margin-left:20px;
margin-right:20px;
}
#menucontainer
{
width:80%;
margin:auto;
text-align:center;
}
.red
{
color:red;
}
a
{
color:gray;
text-decoration:none;
border-bottom:1px gray dotted;
}
a:focus
{
color:red;
border-bottom:1px red solid;
}
a:hover
{
color:red;
border-bottom:1px red solid;
}
.centerblock
{
margin:auto;
margin-top:20px;
width:fit-content;
width:-webkit-fit-content;
width:-moz-fit-content;
border:black 5px double;
padding:20px;
}
form.spe
{
width: 80%;
margin: 0 auto;
}
input
{
float:right;
clear:both;
margin-right:20%;
width:20%;
}
input.bred
{
background-color:red;
}
input.bred:focus
{
background-color:white;
}
label
{
clear:both;
}
select
{
float:right;
clear:both;
margin-right:20%;
width:20%;
}
select.bred
{
background-color:red;
}
select.bred:focus
{
background-color:white;
}
.success
{
color:green;
}