.center
{
text-align:center;
}
.group
{
margin-left:10%;
}
.group > p
{
margin-bottom:20px;
padding: 5px;
border:3px ridge black;
width:fit-content;
width:-webkit-fit-content;
width:-moz-fit-content;
}
.user
{
padding-left:10%;
border-left:1px dotted black;
clear:both;
overflow:hidden;
background-color:white;
}
.user p
{
background-color:white;
margin-top:0px;
overflow:hidden;
width:nowrap;
}
.imageprofil
{
float:left;
margin-right:10px;
}