@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?wefjpr');
	src:url('fonts/icomoon.eot?#iefixwefjpr') format('embedded-opentype'),
		url('fonts/icomoon.ttf?wefjpr') format('truetype'),
		url('fonts/icomoon.woff?wefjpr') format('woff'),
		url('fonts/icomoon.svg?wefjpr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-remove-user:before {
	content: "\e603";
}
.icon-remove-admin:before {
	content: "\e604";
}
.icon-groupe:before {
	content: "\e605";
}
.icon-delete-user:before {
	content: "\e60c";
}
.icon-delete-group:before {
	content: "\e60d";
}
.icon-admin:before {
	content: "\e60e";
}
.icon-add-user:before {
	content: "\e60f";
}
.icon-add-to-list:before {
	content: "\e611";
}
.icon-add-group:before {
	content: "\e612";
}
.icon-add-admin:before {
	content: "\e613";
}
.icon-rchat:before {
	content: "\e600";
}
.icon-logout:before {
	content: "\e601";
}
.icon-group:before {
	content: "\e602";
}
.icon-settings:before {
	content: "\e994";
}
.icon-rfiles:before {
	content: "\e925";
}
.icon-radmin:before {
	content: "\e972";
}
.icon-rclients:before {
	content: "\e976";
}
.icon-rgit:before {
	content: "\eae2";
}
