@import url("sidepanel.css");

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div#logs {/*unused*/
border : 1px solid black;
}
div#main-content{
	border : 1px solid #e8e8e8;
	display: flex;
	flex-wrap: nowrap;
	align_item : stretch;
}

.side-panel{
	width : 300px;
	min-height : 400pt;
    overflow-x : hidden;
}
div.side-panel-list{
display : flex;
flex-wrap: nowrap;
flex-direction : column;
}


.main-panel{
	border-left : 1px solid #e8e8e8;
	flex : 1;
	min-height : 150pt;
	
	display : flex;
	flex-direction:column;
	padding-left:20px;
}
.main-panel li{
list-style-type: none;
margin:15px 0 15px 0;
}
li img
{
margin-right:10px;
}


/*loading panel*/
.loading-panel{
height : 100%;
padding-top:45%;
}
.loading-panel img{
display: block;
margin:auto;
}



/*navbar */
.top-bar-section ul li > a {
    font-size: 14px;
    padding: 0px !important;
    text-align : left;
}

.top-bar-section ul li > a [class*="icon-"],
.top-bar-section ul li > a [class^="icon-"]
{
    font-size: 22px;
    padding: 0.9375rem;
}

.top-bar-section li:not(.has-form) a:hover label {
background : #222;
}
.top-bar-section ul li > a:label{
    font-size: 14px;
    padding: 0px !important;
}



/*menu gauche */
.group
{
color: #000;
padding-top:10px;
padding-left:50px;
margin-left:-20px;
}
.group > strong
{
margin-bottom:10px;
display:block;
}
.user
{
margin-bottom:-20px;
}
.group img
{
margin-left:10px;
margin-right:10px;
}

.gene
{
background : #333;
color: #B6B6B6;
text-align:center;
padding-bottom:12px;
font-size:1.3em;
}
.right
{
float:right;
}
form[name="supportform"]
{
display:inline;
}
form[name="supportform"] a
{
color: #B6B6B6;
}

.main-panel
{
overflow:visible;
}

.deleteGroupe
{
float:right;
position:relative;
z-index:110;
}
.group:before {
  background-image: url("../images/groupe.svg");
  content: '';
  height:25px;
  width:25px;
  background-size: 25px;
  margin-right:10px;
  
  float: left;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  
}
.imageprofil
{
margin-right:15px;
}